

/* ======================== default styles */
body {
    font-family: Helvetica, Verdana, Arial, Sans; 
    font-size:0.8em;
    margin:0;
    padding:0;
    background-color:white;
    background-repeat: repeat-x;
    background-position: top left;
    color : #002830;
}


h2, h3 {
    color: #002830;
}


a img { border:0;}

pre {
  padding-left:1em;
  border-left:4px solid #efe03b;
  background-image:url(fond_horizontale.png);
  background-repeat:repeat-y;
  color:black;
  overflow:auto;
  font-size:1.2em;
}

kbd {
   border:1px outset black;
   background-color: #c5dbe1;
   padding:0.1em;
   border-radius:5px;
}

var, code.literal {
   background:#fff4d9;
   font-weight:bold;
   font-family:courier new, courier,monospace;
   font-size:1.1em;
}

code {
   background-color:#f1f1ee;
   font-family:courier new, courier, monospace;
   font-size:1.1em;
   font-weight:bold;
}

pre code {
    background-color:transparent;
    font-weight:normal;
}

code.element, code.attribute {
   background-color:#e9f5fd;
   color:#154869;
}
code.attribute { font-style:italic;}

code.filename, code.command, code.envar {
    color:black;
    background-color:#ddd;
    padding-left:3px;
    padding-right:3px;
    font-weight:normal;
}
code.filename { 
    border-radius:4px;
}
code.envar {font-style: italic;}

code.classname, code.interfacename, code.function, code.methodname, code.property {
   background-color:#dffcdc;
   color:#1d6915;
}

code.classname  {}
code.function {}
code.methodname {}
code.property {}
code.interfacename {}

code.constant {}

code.literal {}
code.returnvalue {}


/*  page layout */

.top-container {
    margin: auto;
    max-width: 900px;
    padding:0 12px;
}

#top-box {
  margin:5px;
  text-align:right;
}

#accessibility {
    display:inline-block;
    margin:0; margin-right: 8px; padding:0;text-align:right;
    font-size:0.8em;color:#6884A3;}
#accessibility a { color:#6884A3; }
#accessibility a:hover, #accessibility a:focus{ color: #002830; text-decoration:underline;}


#header {
    background: rgb(13,130,173);
    background: rgba(13,130,173, 0.5);
    background: linear-gradient(to bottom, #87B2C3,#5595AF, #3c90af);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.6), 0 -1px 0 rgba(255, 255, 255, 0.2) inset;
    overflow: hidden;
    padding:5px 0;
}

#header a { color:white; text-decoration:none; }
#header a:hover {  }



#login-box, #lang-box {
  display:inline-block;
  padding:4px 10px;
  font-size:0.8em;
  border-radius:5px ;
  z-index:100;
  box-shadow: #999 3px 3px 8px 0px;
}
#login-box {
  background: linear-gradient(to bottom, #2b4c53,#27474E 40%, #244148 60%, #002830);
  background-color:#002830;
  color:white;
  margin-right: 4px;
}
#login-box a, #lang-box a{ color:white; text-decoration:none; }
#login-box a:hover, #lang-box a:hover{ text-decoration:underline; }


#lang-box {
    background: linear-gradient(to bottom, #87B2C3,#5595AF, #3c90af);
    background-color:#3c90af;
    color:white;  
    text-transform: uppercase;
}


#logo { margin:3px 0; padding:0; font-size:1.2em; float:left; width:140px; text-align:left; text-shadow: #aaa 0px 0px 5px;}
#logo a { color:#0594c8; text-decoration:none; }
#logo img { vertical-align:bottom; }


#topmenubar {
    color:white;
    vertical-align:bottom;
    margin:0;
    padding:15px 20px 5px 20px;
    font-size: 0.9em;
    text-align:center;
}

#topmenubar li { 
    display:inline;
    padding:5px 10px 10px 10px;
    margin:0;
    font-size:1.2em;
    vertical-align:top;
    list-style-type:none;
    list-style-position:outside;
    text-transform: uppercase;
    font-weight:bold;
}
#topmenubar li a, #submenubar li a {
  color:white; 
  text-decoration:none;
  text-shadow: #002830 1px 1px 1px;
}
#topmenubar li a {
}
#topmenubar li a:hover{ text-shadow: #AABDC1 1px 1px 8px;}
#topmenubar li.selected a {
    text-shadow: #c03033 0px 0px 10px;
    
}

#footer {
    clear:both;
    min-height:170px;
    background-color:#002830;
    background:linear-gradient(to bottom, #2b4c53,#27474E 40%, #244148 60%, #002830);
    color:white;
    padding:10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.6), 0 -1px 0 rgba(255, 255, 255, 0.2) inset;
}
#footer a { color:white;}
#footer-legend {
    font-size:0.7em;
    color:#CECECE;
    width:150px;
    float:right;
    text-align:right;
}
#footer li{ margin-bottom: 5px;
    
}
.footer-box {
    float:left;
    margin-right:2em;
}

.content-box {
    margin:1em 0;
    padding: 1em;
    background-color:white;
    border-radius:5px ;
    font-size:1.1em;
    color:#6B6B6B;
    clear:both;
}
.content-box a  {
    color:#3f6f7a;
}
.content-box hr {
    border:0px;
    clear:both;
}
.content-box h2 {
    color: #C03033;
}



/* --------- Home */

#slogan {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    max-width:20em;
    float:left;
}

#releases {
    background-color:#002830;
    background:linear-gradient(to bottom, #2b4c53,#27474E 40%, #244148 60%, #002830);
    color:white;
    border-radius:5px ;
    float:right;
    margin-top:2em;
    padding:0 10px;
    text-align:center;
}

#releases a {
    color:white;
}
#latest-release {
    font-size:15pt;
    font-weight:bold;
}

#latest-release img {
    vertical-align: middle;
}

#other-releases {
    font-size:8pt;
    
}

#features {
    max-width:800px;
    padding:2em 0;
    margin:0 auto;
    clear:both;
}

#features h2 {
    color: #C03033;
}
#features li {
    margin:0 0 0.5em 0;
}

#features .section a {
    color:#3f6f7a;
    text-decoration: none;
}

#features .section a:hover {
    text-decoration: underline;
}

#features .section .btn-container {
    text-align:center;
    margin: 2em;
    line-height: 2em;
}
#features .section a.btn {
    background-color:#002830;
    color:white;
    border-radius:5px;
    padding: 0.5em;

}

#features .section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    margin: 1em 0;
    padding:10px;
    color:#5B5B5B;
    background-color:white;
    /*border:1px solid #BABABA;*/
    border-radius:5px ;
    font-size:1.1em;
}

#features figure {
    display: flex;
    align-items: center;
}

#features .section-screenshot {
    margin: 1.5em 1em;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}

#features .section-description,
#features .section-list
{
    margin: 0 1em;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
}
#features .section-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0;
}
#features .section-list li {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    text-align:center;
    max-width:10em;
    margin: 0.5em;
    background-color: #f1f5fc;
    border-radius:5px;
    padding:5px;
}

#features .section-list li:hover {
    background-color: #d5e6ff;
}
#features .section-list li img
{
    display:block;
    margin:auto;
}

#features .section-list li a:hover {
    text-decoration: none;
}

#features .section-quality li,
#features .section-quality li:hover
{
    background-color: #ffe8e5;
}


.section-description li {
    margin-left: 30px;
}
.section-description dt {
    margin-left: 0px;
    margin-bottom:0.3em;
    font-size:1.2em;
}

.section-description dt img {
    padding: 0 5px;
    float:left;
}

.section-description dt a,
.section-description dt {
    font-weight:bold;
    text-decoration:none;
}

.section-description dd {
    margin-left: 40px;
    margin-bottom:1em;
    font-size:0.9em;
    color: #6B6B6B;
}



#jelix-users h2 { float:left;}
#jelix-users p {
    text-align:right;
    margin:0 2em 0 0; padding:0;
    font-style:italic;
    font-size: 0.9em;
}

#jelix-users ul {
    text-align:center;
    list-style-type:none;
    margin: 0.83em 0; padding:0;
}
#jelix-users li {
    display:inline;
    padding:0 5px;
}

#jelix-users-description p { display:none; margin:0 12em 5px 10em; text-align:center;}
#jelix-users-description { min-height:1.5em;}


#home-news h3 { margin-bottom:0;}

#home-news h3 a { text-decoration:none;}
#home-news .news-infos {
    font-size:0.8em;
}


/*  ================= contenu principal */
#content-header {
    
}
    #submenubar {
        background:linear-gradient(to bottom, #2b4c53,#27474E 40%, #244148 60%, #002830);
        background-color:#2b4c53;
        color:white;
        vertical-align:bottom;
        margin:1em 10%;
        padding:8px  5px;
        text-align:center;
        box-shadow: #999 3px 3px 8px 0px;
        border-radius:5px ;
    }
    #submenubar li { 
        display:inline;
        padding:5px;
        font-size:1em;
        list-style-type:none;
        list-style-position:outside;
        border-left: 1px solid #002830;
    }
    #submenubar li:first-child {
        border-left: 0px none;
    }
    #submenubar li a:hover{  text-decoration:underline; }
    #submenubar li.selected a { border-bottom: 2px solid  #FFA08F }

    #dw__search {
        display:inline;
        margin:0 0 0 2em;
        padding:0;
    }
    #qsearch__in {
        width:8em;
        border-radius:5px;
        border:1px solid black;
    }
    #dw__search input.button,
    #dw__search button
    {
       background: transparent url('icons/new-edit-find.png');
       background-repeat: no-repeat;
       background-position:center center;
       border:0px none;
       padding:0 5px;
       margin:0;
       width:32px;
       text-indent: -300px;
       color:transparent;
    }

#article {
    background-color:white; margin:10px 0; padding:2em 1em 1em 1em;
    border-radius:8px;
    clear:both;
    min-height:400px;
}

#article a { color:#3f6f7a; text-decoration:underline; }
#article a:visited {  color : #002830;}
#article a:hover { color: #0f82af; background-color: #d7e7eb; }
#article a.wikilink2 { color:#ed5a02;}
#article input.button,
#article-footer input.button,
#article button,
#article-footer button
{
   background-color:#4397b6;
   border-left: 1px solid #99cbde;
   border-right: 1px solid  #225365;
   border-top: 1px solid #99cbde ;
   border-bottom: 1px solid  #225365;
   border-radius:3px;
   color:white;
   cursor: pointer;
}

#article input[type=button][disabled], input[type=submit][disabled], input[type=reset][disabled] {
 background: #94a8af;
 color: #ddd;
}

#article ul { list-style-image:url(puce_page.png); }
#article li { padding-bottom:0.3em;}
#article li.open { list-style-image: url(open.gif); }
#article li.closed { list-style-image: url(closed.gif); }

#article h1 { font-size:1.7em; color: #c03033; margin:0; }
#article h1 a { color: #c03033; }
#article h3 a,#article h4 a, #article h5 a { color: #002830; }
#article h1 a.anchor { color: #c03033; text-decoration:none;}
#article h3 a.anchor,#article h4 a.anchor, #article h5 a.anchor { color: #002830; text-decoration:none; }
#article h2 { color: #802022;  margin:1em 0 0.5em 0; font-size:1.5em;}
#article h2 a.anchor { color: #802022; text-decoration:none; }
#article h2 a { color: #802022; }
#article h3 { color: #002830;  margin:1em 0 0.5em 0; font-size:1.3em;}
#article h4 { color: #002830; font-size:1.1em;}
#article h5 { color: #002830; font-size:1em;}

#article h1 a.anchor, #article h2 a.anchor, #article h3 a.anchor, #article h4 a.anchor, #article h5 a.anchor {
  visibility:hidden;
  font-size:0.7em;
}

#article h1:hover a.anchor, #article h2:hover a.anchor, #article h3:hover a.anchor, 
#article h4:hover a.anchor, #article h5:hover a.anchor { visibility:visible; }

#article .search .edit { width:150px;}


#article .bookinfos { text-align:center; font-size:1.2em; margin:2em auto; padding:1em; border:2px solid black; }

#article .booklegalnotice { margin:1em auto; padding:0.5em; border:1px dashed black; }
#article .bookpagelegalnotice { display:none; }

#article .bookcontents li.part { font-size:1.5em; font-weight:bold; }
#article .bookcontents li.chapter { font-size:1.3em; font-weight:bold; }
#article .bookcontents li.part li.chapter { font-size:0.8em; font-weight:bold; }
#article .bookcontents li.section { font-size:1em; font-weight:normal; }
#article .bookcontents li.chapter li.section { font-size:0.9em; font-weight:normal; }

#article a.interwiki{
   background: transparent url(interwiki.png) 0px 1px no-repeat;
   padding-left: 16px;
}

#article .contenuinfo {
   text-align:right; font-size:0.9em; margin:0.5em 0;  height:2em; color:white;
   background-repeat: repeat-x;
   background-color:#3c90af;
}
#article .contenuinfo ul li { display:inline; float:right;  padding:0 1em 0 0; margin:0;}
#article .contenuinfo  a { color:white; }
#article .contenuinfo  a:visited { color:white;}
#article .contenuinfo  a:hover { background-color: inherit;}

#article-content {
    min-height:500px;
}


#article-header {
   margin:0.5em 0.5em 1.5em 0.5em; padding:5px;
   color : #002830;
   background-color:#d8e1e4;
   border-radius:8px;
}
#article-header p {
    margin:0;
}
#article-header a { color:#0594c8; text-decoration:none; }
#article-header a:hover { text-decoration:underline;}
#article-header .article-links {
    text-align:right;
    margin-top: 5px;
}


#article-footer {
   clear:both;
   margin:1em 0 0 0;
   padding:3px 15px;
   min-height:2em;
   color : #002830;
   background-color:#d8e1e4;
   border-radius:8px;
}
#article-footer.full, #fullmainfooter { margin-left:0}
#article-footer .wfooterbuttons { text-align:right;}
#article-footer form { display:inline; margin:0;}
#article-footer .wfooterinfo { font-size:0.8em; float:left; }
#article-footer #authinfo { clear:both; }



#content-footer {
    
}
#mainfooter {
    margin:1em;
}

/* ===== elements books */

#book-page-default-url {
   margin:0.5em 3em 1.5em 3em; padding:5px;
   color : #002830;
   background-color:#F8B037;
   border-radius:8px;
   text-align:center;
}


#book-page-header .lang, #book-page-footer .lang { text-align:right; font-size:0.8em;}

#book-page-header, #book-page-footer {
   margin:0.5em 0.5em 1.5em 0.5em; padding:5px;
   color : #002830;
   background-color:#fff5de; /*#d8e1e4;*/
   border-radius:8px;
   text-align:center;
}

#book-page-header .book-title {
    float:left;
    font-weight:bold;
    font-size: 1.0em;
    cursor: pointer;
}
#book-page-header .book-hierarchy {
    display:none;
    position:absolute;
    float: left;
    text-align:left;
    z-index: 800;
    background-color:#fff5de;
    box-shadow: #999 3px 3px 8px 0px;
    border-radius:5px ;
    padding:10px;
}

#book-page-header .book-hierarchy a { text-decoration:none;}
#book-page-header .book-hierarchy a:hover { text-decoration: underline; }
#book-page-header .book-hierarchy ul { margin:1em 0 0 1em; padding:0 0 0 1em; 
   list-style-image:url(puce_menu_actif.png);
   background-repeat:repeat-y;}
#book-page-header .book-hierarchy ul ul { margin-top:0; background-image:none;}
#book-page-header .book-hierarchy ul li { margin:0; padding:0 0 0 0em; }
#book-page-header .book-hierarchy li.actif { font-weight:bold;}
#book-page-header .book-hierarchy li.actif a:hover {}
#book-page-header .book-hierarchy li.actif ul { font-weight:normal; font-size:0.9em; }
#book-page-header .book-hierarchy .userinfo { margin:2em 0; }




#book-page-header .book-title:hover .book-hierarchy {
    display:block;
}

#book-page-header .book-edition {
    text-align:right;
    font-weight:bold;
    font-size: 1em;
}
#book-page-header .book-current {
    margin:0.3em 0;
}

.book-nav {
    width:98%;
    min-height:2em;
    margin:0.3em auto;
    padding:0.2em;
}
#book-page-header .book-nav {
    border-top: 1px dotted #83888a;

}
#book-page-footer .book-nav {
    border-bottom: 1px dotted #83888a;

}

#book-page-footer .book-legal-notice {
 margin-top: 0.2em;
    font-size:0.8em;
    text-align:left;
}


.book-nav td { width:33%; }
.book-nav-prev {
    text-align:left;
}
.book-nav-up {
    text-align:center;
}
.book-nav-next {
    text-align:right;
}

/* styles for the wiki */

div.level1, div.level2, div.level3, div.level4, div.level5, div.level6 { padding-left:2em; }

div.secedit { text-align:right; }
div.secedit form { margin: 0 0 1em 0; }
#dw__toc {
  margin: 0em 0 2em 2em ;
  padding:10px;
  float:right;
  width: 160px;
  font-size: 80%;
  color : #002830;
  background-color:#eff4f6;
  border-radius: 5px;
}

#dw__toc > h3 {
  padding: 3px;
  background-color: #2b4c53;
  text-align: left;
  font-weight:bold;
  color:white;
  border-radius: 3px;
}

#dw__toc > h3 { margin-top:0.3em; cursor: pointer; }
#dw__toc > div {
  border-radius: 3px;
  padding-top: 0.5em; 
  padding-bottom: 0.7em;
  background-color: #ffffff;
  text-align: left;
}
ul.toc {
  padding-left:20px;   
}

ul.toc ul {
  margin: 0 0 0 1em; padding: 0;
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
}

ul.toc ul li { }
ul.toc ul li.clear { }
ul.toc ul a { text-decoration:none;}

div.no {
    display:inline; margin:0; margin:0;
}

/* ---------------------------- Diff rendering --------------------------*/

table.diff { background:white; }
td.diff-blockheader {font-weight:bold}
td.diff-header {
  border-bottom: 1px solid #8cacbb;
  font-size:120%;
}
td.diff-addedline {
    background:#ddffdd;
    font-family: monospace;
    font-size: 100%;
}
td.diff-deletedline {
    background:#ffffbb;
    font-family: monospace;
    font-size: 100%;
}
td.diff-context {
    background:#f7f9fa;
    font-family: monospace;
    font-size: 100%;
}
span.diffchange { color: red; }



/* ==================== Forum =============== */
table.forumdata { border:1px solid grey; border-collapse:collapse;}
table.forum { border:1px solid grey; border-collapse:collapse; margin:1em auto; }
table.forum th, table.forumdata th { background-color: #002830; color:#fff; padding:3px;}
table.forum td, table.forumdata td { border:1px solid grey; vertical-align:top; padding:3px;}
table.forum td.lastpost { font-size:0.8em;}

table.forum td h2 { color:#AF283A; font-size:1.1em !important;
   border-bottom:0 none transparent !important;}
table.forum td h2 a{ color:#AF283A !important; }
table.forum td h2 a:hover{ color:#fff !important; }

table.forumform td,table.forumdata td { vertical-align:top;}
table.forumform th,table.forumdata th { text-align:right; vertical-align:top;}

.forumMessage {margin-bottom:1em;}
.forumMessage h1 a, .forumMessage h2 a {font-size:0.7em;}
.forumMessage h2 {  margin-bottom:0;}
.forumMessage h3 { border-bottom:1px solid #000; margin-bottom:0;}


   .forumtext { background-color: #f9f9f7; margin:0.5em 0 0 0; padding:0.3em;
      border:2px solid #edede6;}
   .forumtext blockquote { margin-left:1.5em; padding-left:0.5em;border-left:2px solid #195a80;}
   .forumsignature { font-size:0.9em;}
   .forumeditmessage { text-align:right; font-style:italic; font-size:0.8em; margin-bottom:0;}


   .forumMessageInfo {}
   .forumMessageInfo p {margin:0; font-size:0.8em;}
   .forumMessageOptions{text-align:right; background-color:#edede6; font-size:0.8em;}
   .forumMessageOptions a { padding-right:1.5em;}
   .forumModeration {text-align:right; background-color:#edede6; font-size:0.8em;}
   .forumModeration a { padding-right:1.5em;}
.forumAlert { border:1px solid grey; }
.forumError { border:1px solid red; }
.forumResults { margin: 1em 0;}

.msgoptions { font-size:0.8em; text-align:right;}
.msgnew, .msgpages { font-size:0.8em;}
.msgnew {color:#FF802E;}
.msgannouncement { color:#fff; background-color:#000;}
#forummenudroit { float:right; width:12em; padding:0 0.5em; }
#forumcontenu { margin-right:13em;}

.search_result { margin-top:1.5em; }
.search_result .wikilink1 { font-weight:bold; font-size:1.1em; }
.search_result .search_cnt { font-style:italic;}
.search_result .search_snippet { margin-left:2em; }
.search_result .search_hit { background-color:#fff8d3; }



@media all and (max-width: 650px) {
    #footer-legend {
        float:none;
        width:auto;
        min-width:100px;
    }

    #features .section,
    #features .section:nth-child(odd)
    {
        flex-direction: column;
    }
}

@media all and (max-width: 520px) {
    #jelix-users h2 {
        float: none;
    }
       #jelix-users-description p {
        margin: 0px 1em 5px 1em;
    }
    .home-item {
        float: none;
        width: auto;
    }
    .footer-box {
        float:none;
    }
}
