a.interwiki{background:transparent url(/lib/images/interwiki.png) 0px 1px no-repeat;padding:1px 0px 1px 16px;}
a.iw_wp{background-image:url(/lib/images/interwiki/wp.gif)}
a.iw_wpfr{background-image:url(/lib/images/interwiki/wpfr.gif)}
a.iw_wpde{background-image:url(/lib/images/interwiki/wpde.gif)}
a.iw_wpes{background-image:url(/lib/images/interwiki/wpes.gif)}
a.iw_wppl{background-image:url(/lib/images/interwiki/wppl.gif)}
a.iw_wpjp{background-image:url(/lib/images/interwiki/wpjp.gif)}
a.iw_wpmeta{background-image:url(/lib/images/interwiki/wpmeta.gif)}
a.iw_doku{background-image:url(/lib/images/interwiki/doku.gif)}
a.iw_dokubug{background-image:url(/lib/images/interwiki/dokubug.gif)}
a.iw_amazon{background-image:url(/lib/images/interwiki/amazon.gif)}
a.iw_amazon_de{background-image:url(/lib/images/interwiki/amazon.de.gif)}
a.iw_amazon_uk{background-image:url(/lib/images/interwiki/amazon.uk.gif)}
a.iw_paypal{background-image:url(/lib/images/interwiki/paypal.gif)}
a.iw_phpfn{background-image:url(/lib/images/interwiki/phpfn.gif)}
a.iw_coral{background-image:url(/lib/images/interwiki/coral.gif)}
a.iw_sb{background-image:url(/lib/images/interwiki/sb.gif)}
a.iw_skype{background-image:url(/lib/images/interwiki/skype.png)}
a.iw_callto{background-image:url(/lib/images/interwiki/callto.gif)}
a.iw_google{background-image:url(/lib/images/interwiki/google.gif)}
a.iw_meatball{background-image:url(/lib/images/interwiki/meatball.gif)}
a.iw_wiki{background-image:url(/lib/images/interwiki/wiki.gif)}
a.mediafile{background:transparent url(/lib/images/fileicons/file.png) 0px 1px no-repeat;padding-left:18px;padding-bottom:1px;}
a.mf_doc{background-image:url(/lib/images/fileicons/doc.png)}
a.mf_sql{background-image:url(/lib/images/fileicons/sql.png)}
a.mf_rtf{background-image:url(/lib/images/fileicons/rtf.png)}
a.mf_audio{background-image:url(/lib/images/fileicons/audio.png)}
a.mf_sxd{background-image:url(/lib/images/fileicons/sxd.png)}
a.mf_sxc{background-image:url(/lib/images/fileicons/sxc.png)}
a.mf_ppt{background-image:url(/lib/images/fileicons/ppt.png)}
a.mf_7z{background-image:url(/lib/images/fileicons/7z.png)}
a.mf_xlsx{background-image:url(/lib/images/fileicons/xlsx.png)}
a.mf_xls{background-image:url(/lib/images/fileicons/xls.png)}
a.mf_rb{background-image:url(/lib/images/fileicons/rb.png)}
a.mf_wav{background-image:url(/lib/images/fileicons/wav.png)}
a.mf_csv{background-image:url(/lib/images/fileicons/csv.png)}
a.mf_c{background-image:url(/lib/images/fileicons/c.png)}
a.mf_js{background-image:url(/lib/images/fileicons/js.png)}
a.mf_sxw{background-image:url(/lib/images/fileicons/sxw.png)}
a.mf_tar{background-image:url(/lib/images/fileicons/tar.png)}
a.mf_ps{background-image:url(/lib/images/fileicons/ps.png)}
a.mf_tgz{background-image:url(/lib/images/fileicons/tgz.png)}
a.mf_gz{background-image:url(/lib/images/fileicons/gz.png)}
a.mf_cpp{background-image:url(/lib/images/fileicons/cpp.png)}
a.mf_java{background-image:url(/lib/images/fileicons/java.png)}
a.mf_docx{background-image:url(/lib/images/fileicons/docx.png)}
a.mf_deb{background-image:url(/lib/images/fileicons/deb.png)}
a.mf_swf{background-image:url(/lib/images/fileicons/swf.png)}
a.mf_rpm{background-image:url(/lib/images/fileicons/rpm.png)}
a.mf_htm{background-image:url(/lib/images/fileicons/htm.png)}
a.mf_xml{background-image:url(/lib/images/fileicons/xml.png)}
a.mf_pl{background-image:url(/lib/images/fileicons/pl.png)}
a.mf_odg{background-image:url(/lib/images/fileicons/odg.png)}
a.mf_conf{background-image:url(/lib/images/fileicons/conf.png)}
a.mf_zip{background-image:url(/lib/images/fileicons/zip.png)}
a.mf_sxi{background-image:url(/lib/images/fileicons/sxi.png)}
a.mf_ogg{background-image:url(/lib/images/fileicons/ogg.png)}
a.mf_odp{background-image:url(/lib/images/fileicons/odp.png)}
a.mf_odi{background-image:url(/lib/images/fileicons/odi.png)}
a.mf_jpeg{background-image:url(/lib/images/fileicons/jpeg.png)}
a.mf_jpg{background-image:url(/lib/images/fileicons/jpg.png)}
a.mf_lua{background-image:url(/lib/images/fileicons/lua.png)}
a.mf_gif{background-image:url(/lib/images/fileicons/gif.png)}
a.mf_bz2{background-image:url(/lib/images/fileicons/bz2.png)}
a.mf_png{background-image:url(/lib/images/fileicons/png.png)}
a.mf_html{background-image:url(/lib/images/fileicons/html.png)}
a.mf_py{background-image:url(/lib/images/fileicons/py.png)}
a.mf_odc{background-image:url(/lib/images/fileicons/odc.png)}
a.mf_odf{background-image:url(/lib/images/fileicons/odf.png)}
a.mf_mp3{background-image:url(/lib/images/fileicons/mp3.png)}
a.mf_ods{background-image:url(/lib/images/fileicons/ods.png)}
a.mf_css{background-image:url(/lib/images/fileicons/css.png)}
a.mf_rar{background-image:url(/lib/images/fileicons/rar.png)}
a.mf_odt{background-image:url(/lib/images/fileicons/odt.png)}
a.mf_txt{background-image:url(/lib/images/fileicons/txt.png)}
a.mf_php{background-image:url(/lib/images/fileicons/php.png)}
a.mf_pptx{background-image:url(/lib/images/fileicons/pptx.png)}
a.mf_cs{background-image:url(/lib/images/fileicons/cs.png)}
a.mf_pdf{background-image:url(/lib/images/fileicons/pdf.png)}
div.error,div.info,div.success,div.notify{color:#000;background-repeat:no-repeat;background-position:.5em 0;border-bottom:1px solid;font-size:90%;margin:0;padding-left:3em;overflow:hidden;}
div.error{background-color:#fcc;background-image:url(/lib/styles/../images/error.png);border-bottom-color:#faa;}
div.info{background-color:#ccf;background-image:url(/lib/styles/../images/info.png);border-bottom-color:#aaf;}
div.success{background-color:#cfc;background-image:url(/lib/styles/../images/success.png);border-bottom-color:#afa;}
div.notify{background-color:#ffc;background-image:url(/lib/styles/../images/notify.png);border-bottom-color:#ffa;}
.JSpopup,#link__wiz,#media__popup{position:absolute;background-color:#fff;color:#000;z-index:20;overflow:hidden;}
.code .br0{color:#6c6;}
.code .co0{color:#808080;font-style:italic;}
.code .co1{color:#808080;font-style:italic;}
.code .co2{color:#808080;font-style:italic;}
.code .co3{color:#808080;}
.code .coMULTI{color:#808080;font-style:italic;}
.code .es0{color:#009;font-weight:bold;}
.code .kw1{color:#b1b100;}
.code .kw2{color:#000;font-weight:bold;}
.code .kw3{color:#006;}
.code .kw4{color:#933;}
.code .kw5{color:#00f;}
.code .me1{color:#060;}
.code .me2{color:#060;}
.code .nu0{color:#c6c;}
.code .re0{color:#00f;}
.code .re1{color:#00f;}
.code .re2{color:#00f;}
.code .re3{color:#f33;font-weight:bold;}
.code .re4{color:#099;}
.code .st0{color:#f00;}
.code .sy0{color:#6c6;}
#config__manager div.success,#config__manager div.error,#config__manager div.info{background-position:0.5em;padding:0.5em;text-align:center;}
#config__manager fieldset{margin:1em;width:auto;margin-bottom:2em;background-color:__background_alt__;color:__text__;padding:0 1em;}
#config__manager legend{font-size:1.25em;}
#config__manager form{}
#config__manager table{margin:1em 0;width:100%;}
#config__manager fieldset td{text-align:left;}
#config__manager fieldset td.value{width:31em;}
#config__manager td.label{padding:0.8em 0 0.6em 1em;vertical-align:top;}
#config__manager td.label label{clear:left;display:block;}
#config__manager td.label img{padding:0 10px;vertical-align:middle;float:right;}
#config__manager td.label span.outkey{font-size:70%;margin-top:-1.7em;margin-left:-1em;display:block;background-color:__background__;color:__text_neu__;float:left;padding:0 0.1em;position:relative;z-index:1;}
#config__manager td input.edit{width:30em;}
#config__manager td .input{width:30.8em;}
#config__manager td select.edit{}
#config__manager td textarea.edit{width:27.5em;height:4em;}
#config__manager tr .input,#config__manager tr input,#config__manager tr textarea,#config__manager tr select{background-color:#fff;color:#000;}
#config__manager tr.default .input,#config__manager tr.default input,#config__manager tr.default textarea,#config__manager tr.default select,#config__manager .selectiondefault{background-color:#cdf;color:#000;}
#config__manager tr.protected .input,#config__manager tr.protected input,#config__manager tr.protected textarea,#config__manager tr.protected select,#config__manager tr.protected .selection{background-color:#fcc!important;color:#000 !important;}
#config__manager td.error{background-color:red;color:#000;}
#config__manager .selection{width:14.8em;float:left;margin:0 0.3em 2px 0;}
#config__manager .selection label{float:right;width:14em;font-size:90%;}
* html #config__manager .selection label{padding-top:2px;}
#config__manager .selection input.checkbox{padding-left:0.7em;}
#config__manager .other{clear:both;padding-top:0.5em;}
#config__manager .other label{padding-left:2px;font-size:90%;}
div#acl_manager div#acl__tree{font-size:90%;width:25%;height:300px;float:left;overflow:auto;border:1px solid __border__;text-align:left;}
div#acl_manager div#acl__tree a.cur{background-color:__highlight__;font-weight:bold;}
div#acl_manager div#acl__tree ul{list-style-type:none;margin:0;padding:0;}
div#acl_manager div#acl__tree li{padding-left:1em;}
div#acl_manager div#acl__tree ul img{margin-right:0.25em;cursor:pointer;}
div#acl_manager div#acl__detail{width:73%;height:300px;float:right;overflow:auto;}
div#acl_manager div#acl__detail fieldset{width:90%;}
div#acl_manager div#acl__detail div#acl__user{border:1px solid __border__;padding:0.5em;margin-bottom:0.6em;}
div#acl_manager table.inline{width:100%;margin:0;}
div#acl_manager .aclgroup{background:transparent url(/lib/plugins/acl/pix/group.png) 0px 1px no-repeat;padding:1px 0px 1px 18px;}
div#acl_manager .acluser{background:transparent url(/lib/plugins/acl/pix/user.png) 0px 1px no-repeat;padding:1px 0px 1px 18px;}
div#acl_manager .aclpage{background:transparent url(/lib/plugins/acl/pix/page.png) 0px 1px no-repeat;padding:1px 0px 1px 18px;}
div#acl_manager .aclns{background:transparent url(/lib/plugins/acl/pix/ns.png) 0px 1px no-repeat;padding:1px 0px 1px 18px;}
div#acl_manager label.disabled{color:__text_neu__!important;}
#acl_manager label{text-align:left;font-weight:normal;display:inline;}
#acl_manager table{margin-left:10%;width:80%;}
#acl_manager table tr{background-color:inherit;}
#acl_manager table tr:hover{background-color:__background_alt__;}
#plugin__manager h2{margin-left:0;}
#plugin__manager form{display:block;margin:0;padding:0;}
#plugin__manager legend{display:none;}
#plugin__manager fieldset{width:auto;}
#plugin__manager .button{margin:0;}
#plugin__manager p,#plugin__manager label{text-align:left;}
#plugin__manager .hidden{display:none;}
#plugin__manager .new{background:#dee7ec;}
#plugin__manager input[disabled]{color:#ccc;border-color:#ccc;}
#plugin__manager .pm_menu,#plugin__manager .pm_info{margin-left:0;text-align:left;}
#plugin__manager .pm_menu{float:left;width:48%;}
#plugin__manager .pm_info{float:right;width:50%;}
#plugin__manager .common fieldset{margin:0;padding:0 0 1.0em 0;text-align:left;border:none;}
#plugin__manager .common label{padding:0 0 0.5em 0;}
#plugin__manager .common input.edit{width:24em;margin:0.5em;}
#plugin__manager .plugins fieldset{color:#000;background:#fff;text-align:right;border-top:none;border-right:none;border-left:none;}
#plugin__manager .plugins fieldset.protected{background:#fdd;color:#000;}
#plugin__manager .plugins fieldset.disabled{background:#e0e0e0;color:#a8a8a8;}
#plugin__manager .plugins .legend{color:#000;background:inherit;display:block;margin:0;padding:0;font-size:1em;line-height:1.4em;font-weight:normal;text-align:left;float:left;padding:0;clear:none;}
#plugin__manager .plugins .button{font-size:95%;}
#plugin__manager .plugins fieldset.buttons{border:none;}
#plugin__manager .plugins fieldset.buttons .button{float:left;}
#plugin__manager .pm_info h3{margin-left:0;}
#plugin__manager .pm_info dl{margin:1em 0;padding:0;}
#plugin__manager .pm_info dt{width:6em;float:left;clear:left;margin:0;padding:0;}
#plugin__manager .pm_info dd{margin:0 0 0 7em;padding:0;background:none;}
#plugin__manager .plugins .enable{float:left;width:auto;margin-right:0.5em;}
#user__manager tr.disabled{color:#6f6f6f;background:#e4e4e4;}
#user__manager tr.user_info{vertical-align:top;}
#user__manager div.edit_user{width:46%;float:left;}
#user__manager table{margin-bottom:1em;}
#user__manager input.button[disabled]{color:#ccc!important;border-color:#ccc!important;}
